* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}
tr {
    text-align: center;
}
img {
    max-height: 25px;
    overflow: hidden;
}

.line-through {
    text-decoration:line-through;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: green;
    height: 10vh;
}

.header_left {
    display: flex;
}

.links, .todo {
    all: unset;
    background-color: skyblue;
    color: white;
    padding: 5px 10px;
    margin: auto 10px;
    cursor: pointer;
}

.search {
    margin: auto 0;
}

article {
    background-color: blueviolet;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    font-size: 15vh;
}

.greeting {
    font-size: 5vh;
}

h3 {
    text-align: center;
}

h2 {
    display: inline-block;
    margin: auto 20px;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: brown;
    height: 10vh;
}

.links_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.links_modal_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.links_modal_content {
    background-color: white;
    position: relative;
    top: 0px;
    border-radius: 5px;
    width: 20%;
    margin-top: 50px;
    margin-left: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.todo_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

li {
    list-style: none;
}

.todo_modal_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.todo_modal_content {
    background-color: white;
    position: relative;
    top: 0px;
    border-radius: 5px;
    width: 20%;
    margin-bottom: 50px;
    margin-right: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.hidden {
    display: none;
}